.table
{
    margin: 50px auto;
    max-width: 60%;
    font-size: 25px;
}

.table > tr > th
{
    padding: 10px 25px;
}

.tablemobile
{
    display: none;
}

h2
{
    font-size: 40px;
    margin: 50px auto;
    max-width: 60%;
    color: rgb(212, 95, 0);
    font-weight: 700;
    font-style: italic;
}

.aboutMe
{
    margin: 50px auto;
    max-width: 60%;
    font-size: 25px;
}

.aboutMe > a > img
{
    height: 150px;
    padding:10px;
    margin: 20px;
}

@media screen and (max-width: 1000px) 
{

    h2
    {
        font-size: 5vh;
    }

    .tablemobile
    {
        display: block;
        object-fit: center;
        margin: 0;
        font-size: 6vw;
    }

    .table 
    {
        display: none;
    }

    .aboutMe
    {
        font-size: 3vh;
        max-width: 90vw;
    }

}