html, body
{
    border:0;
    margin:0;
    padding:0;
    background-image: url('/bgimage/backgroundimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}

.header
{
    left:0;
    top:0;
    right:0;
    z-index:99;
    font-family: sans-serif;
}

.nav
{
    display: flex;
    justify-content: center;
    background-color:rgb(28, 26, 26);
    box-shadow: 3px 5px 3px #0000007c;
}

.nav a img
{
    padding:0.2em;
    max-width:65em;
}

.menu
{
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 145, 0);
    box-shadow: 0px 5px 5px #0000007c;
}

.menu li
{
    display:inline;
    padding: 0.15em 0;
    list-style: none;
    text-align: center;
    font-size: 1.5em;
    font-family:arial;
    transition: background-color 0.2s;
}

.menu li a
{
    padding: 0.3em 3em;
    color:rgb(126, 23, 0);
    text-decoration: none;
    text-shadow: 0.01em 0.01em rgba(255, 0, 0, 0.351);
    transition: color 0.2s;
}

.menu li:hover
{
    background-color:rgb(232, 70, 0);
}

.menu li a:hover
{
    color:white;
    text-shadow: 0.05em 0.05em black;
}

.header::after
{
    content:'';
    display:flex;
    height:0.4em;
    bottom:0;
    background-color: rgb(232, 70, 0);
}

.page
{
    display: flex;
    justify-content: center;
}

.content
{
    width: 60vw;
    min-width: 1000px;
    height: 100%;
    padding: 3em 0 1em 0;
    background-color: rgba(245, 245, 245, 0.887);
    border-width: 0px 1px 0px 1px;
    border-color:rgb(61, 61, 61);
    border-style: groove; 
}

.news
{
    position:relative;
    width: 100%;
    aspect-ratio: 21/9;
}

.newsbackground
{
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url("/bgimage/backgroundnews.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(1px) brightness(85%) saturate(180%);
    box-shadow: inset 0 0 180px black;
    transition:filter 0.4s;
    
}

.newsbackground:hover
{
    filter: blur(2px) brightness(120%) saturate(220%);
}

.textnews
{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    color: white;
    font-size:2.2vw;
    text-align:center;
    padding:30px 0.3em 1em 0.3em;
    width:35%;
    background:rgba(0, 0, 0, 0.56);
    text-shadow: 2px 2px 5px #ff6a00;  
    z-index: 2;  
}

.textnews p
{
    margin:0.1em;
}

.buttonnews
{
    position:flex;
    justify-content: center;
    margin:2vw;
    font-size: 2.5vw;
    color:#7e1700;
    background-color:rgb(255, 132, 0);
    border-width: 0.12em;
    border-color:rgb(141, 71, 0);
    border-radius: 0.3em;
    border-style: outset;
    transition: transform 0.2s;
}

.buttonnews:hover
{
    transform:scale(1.2);
}

.block
{
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(154, 230, 255);
    border-style: groove;
    border-width: 1px 0 1px 0;
    border-color: rgba(68, 64, 100, 0.227);
}

.block h1
{
    color: rgb(2, 0, 56);
    font-size: 3em;
}

.grid
{
    display:grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
}


.grid div
{
    background-color: rgb(4, 0, 123);
    border-radius: 40px;
    border-width: 0.1em;
    border-color: yellow;
    border-style: solid;
    aspect-ratio: 3/4;
    transition: transform 0.2s;
}

.grid div:hover
{
    transform:scale(1.22);
    box-shadow: 0px 10px 8px #0000007c;;
}

.footer
{
    position:static;
    bottom:0;
    padding:20px;
    min-height: 200px;
    background-color:rgb(42, 39, 39);
    box-shadow: 0px -2px 5px #0000007c;
    z-index:99;
}

.footer ul
{
    list-style: none;
    text-align: center;
    font-size: 1.55em;
}

.footer ul li
{
    padding: 0.2em;
}

.footer ul li a
{
    text-decoration: none;
    color: #ff6a00;
    text-shadow: 0.3px 0.2px rgb(110, 110, 110);
}

.containericon
{
    position:absolute;
    display:grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto auto;
    gap:1em;
    top:1.2em;
    right:1vw;
}

.containericon a
{
    height: 2em;
    aspect-ratio: 1/1;
    padding:0.5em;
    border-radius: 100%;
    border:0.3vh;
    border-style:solid;
    border-color:transparent;
}

.containericon a:hover
{
    border-color: grey;
}

#facebook
{
    filter: invert(49%) sepia(0%) saturate(2998%) hue-rotate(336deg) brightness(100%) contrast(73%);
}

#twitter
{
    filter: invert(49%) sepia(0%) saturate(2998%) hue-rotate(336deg) brightness(100%) contrast(73%);
}

#github
{
    filter: invert(49%) sepia(0%) saturate(2998%) hue-rotate(336deg) brightness(100%) contrast(73%);
}

#linkedin
{
    filter: invert(49%) sepia(0%) saturate(2998%) hue-rotate(336deg) brightness(100%) contrast(73%);
}

#hackerrank
{
    filter: invert(49%) sepia(0%) saturate(0%) hue-rotate(336deg) brightness(100%) contrast(73%);
}


#facebook:hover
{
    filter: invert(8%) sepia(100%) saturate(7446%) hue-rotate(247deg) brightness(100%) contrast(143%);
}

#twitter:hover
{
    filter: invert(53%) sepia(51%) saturate(3486%) hue-rotate(176deg) brightness(100%) contrast(90%);
}

#github:hover
{
    filter: saturate(0%) brightness(0%)
}

#linkedin:hover
{
    filter: invert(26%) sepia(52%) saturate(7205%) hue-rotate(199deg) brightness(91%) contrast(92%);
}

#hackerrank:hover
{
    filter: invert(55%) sepia(73%) saturate(438%) hue-rotate(88deg) brightness(98%) contrast(90%);
}


.containericon a img
{
    justify-content: center;
    width: 100%;
    height: 100%;
}

