html, body
{
    margin: 0;
    border: 0;
    background-color: white;
}

header
{
    padding: 20px 0;
    position: sticky;
    width:100%;
    height: 8%;
    background-color: rgb(47, 47, 47);
    box-shadow: 0 0 20px 0;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul
{
    justify-content: center;
    align-items: end;
    display: flex;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

nav ul li
{
    margin: 0 10px;
    height: 100%;
    padding: 10px;
}

nav ul li a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Work Sans';
}

nav ul li :hover
{
    color: yellow;
}

.hero
{
    min-height: 50vh;
    max-height: 500px;
    margin:auto;
    background-color: black;
    text-align: center;
}

.hero img
{
    height:50vh;
    min-width:85vw;
    filter: brightness(0.75) saturate(2.5);
}

.content
{
    margin: auto;
    max-width:1400px;
    background-color: lightgray;
    bottom:0;
}
